In [6]:
import pandas as pd
import re
import os
from glob import glob

pd.options.display.max_rows = 6

In [7]:
csv_files = glob(os.path.join(os.getcwd(), "data", "raw", "*.csv"))

In [8]:
def rename_cols(df):
    '''
    Function to rename columns of the URA rental contracts datasets.
    
    Arguments:
        df: pandas DataFrame.
        
    Returns:
        pandas DataFrame with the renamed columns
    '''
    col_names = df.columns.tolist()
    name_mapping = {
        'S/N': 's_no',
        'Building/Project Name': 'project_name',
        'Street Name': 'street',
        'Postal District': 'postal_district',
        'Type': 'property_type',
        'No. of Bedroom(for Non-Landed Only)': 'no_bedroom',
        'Monthly Gross Rent($)': 'monthly_rent',
        'Floor Area (sq ft)': 'area_sqft',
        'Lease Commencement Date': 'lease_commence'
    }
    
    new_names = []
    for col_name in col_names:
        new_names.append(name_mapping[col_name])
    
    df.columns = new_names
    return(df)

In [13]:
def combine_csvs():
    result_df = pd.DataFrame()
    for csv_file in csv_files:
        tmp = pd.read_csv(csv_file, header = 1) # there is 1 row of comment
        tmp = tmp[:-6] # last 6 rows are also comments/not data
        result_df = pd.concat((result_df, tmp))
    result_df = rename_cols(result_df)
    result_df = result_df.drop('s_no', axis = 1)
    
    return(result_df)

In [14]:
result_df = combine_csvs()
result_df

,project_name,street,postal_district,property_type,no_bedroom,monthly_rent,area_sqft,lease_commence
0,MARINA BAY RESIDENCES,MARINA BOULEVARD,1.0,Non-landed Properties,3,10000.0,1900 to 2000,Feb-2017
1,MARINA BAY RESIDENCES,MARINA BOULEVARD,1.0,Non-landed Properties,2,6000.0,1100 to 1200,Feb-2017
2,THE SAIL @ MARINA BAY,MARINA BOULEVARD,1.0,Non-landed Properties,3,7000.0,1700 to 1800,Feb-2017
...,...,...,...,...,...,...,...,...
4,TELOK AYER CONSERVATION AREA,ANN SIANG ROAD,1.0,Terrace House,na*,4400.0,<= 1000,Sep-2015
5,THE CENTRAL,EU TONG SEN STREET,1.0,Detached House,na*,2207.0,<= 1000,Oct-2014
6,TELOK AYER CONSERVATION AREA,TELOK AYER STREET,1.0,Terrace House,na*,10800.0,3500 to 4000,Apr-2014

In [15]:
result_df.to_csv('data/final/rental_contracts.csv', index=False)